[submodule ".config/omz/plugins/wakatime"]
	path = .config/omz/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git

[submodule ".config/omz/plugins/zsh-autocomplete"]
	path = .config/omz/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git

[submodule ".config/omz/plugins/zsh-autosuggestions"]
	path = .config/omz/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule ".config/omz/plugins/zsh-syntax-highlighting"]
	path = .config/omz/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule ".ohmyzsh"]
	path = .ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
