[user]
	name = Clément
	email = clement2104.boillot@gmail.com
	signingkey = E6CECBFC9737A2CE
[core]
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
