[user]
	name = Clément
	email = clement2104.boillot@gmail.com
	signingkey = CFAE6BC61FF97205
[core]
	excludesfile = ~/assets/.globalgitignore
[push]
	autoSetupRemote = true
[gpg]
	program = gpg
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/drawbu/"]
    insteadOf = drawbu:
[url "ssh://git@github.com/Sigmanificient/"]
    insteadOf = sigma:
[commit]
	gpgsign = true
