# Files that are always ingnored in all .git repos

## OS Files
.DS_Store

## Editors
.vscode/
.vscode/

## Python
__pycache__/
venv/
.venv/

## Environment files
.env

## Executables files
*.out
main
