* {
  color: #c6d0f5;
  font-family: "JetBrainsMono Nerd Font";
}

window {
  background-color: #232634;
  border: 2px solid #80A0C0;
}

.powermenu {
  font-size: 20px;
  
  button {
    border: none;
    background-color: transparent;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 50%;

    &:hover {
      background-color: #80A0C0;
      color: #232634;
    }
  }
}
