# Applications
discord/
JetBrains/
pulse/
Thunar/
xfce4/
gtk-3.0/
gtk-4.0/
cava/
pavucontrol.ini
obsidian/
arkrc
spotify/
vlc/

# Code
Code/
github-copilot/
lazygit/

# Autostart
autostart/
mimeapps.list

# Games
StardewValley/
unity3d/
doomretro/

# Nix
10-home-manager.conf
zsh/

# I have no idea what this is
cef_user_data/
jgit/
dconf/
QtProject.conf
Trolltech.conf

