Checks: "-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-*,
  -misc-no-recursion,
  performance-*,
  -performance-avoid-endl
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  llvm-*,
  cppcoreguidelines-*,
"

CheckOptions:
  - key:   readability-function-cognitive-complexity.IgnoreMacros
    value: true
