$base-color: #80A0C0;
$text-color: #c6d0f5;

* {
  color: $base-color;
  font-family: "0xProto Nerd Font";
}

window {
  background-color: #232634;
  border: 2px solid $base-color;
}

button {
  all: unset;
  padding: 10px;
  border: none;
  background-color: transparent;

  label {
    color: $base-color;
  }

  &:hover label {
    color: $text-color;
  }
}

label {
  color: $text-color;
}

.spotify-player {
  color: $base-color;

  label.title {
    font-weight: bold;
  }

  box.art {
    background-size: 150px;
    min-height: 150px;
    min-width: 150px;
    margin: 10px;
    border-radius: 10px;
  }

  .buttons button {
    font-size: 20px;
  }
}

.powermenu {
  font-size: 20px;
}
